@charset "utf-8";
/*通用基础样式*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-size:12px;
	font-family: "微软雅黑","黑体",Arial;
	color: #666;
	background: #fff;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	text-decoration: underline;
	color: #E4393C;
}
.lt{
	float: left;
}
.rt{
	float: right;
}
.clr{
	clear: both;
}

/*非通用样式*/
#section-top{
	border-bottom: 1px solid #f2f2f2;
}
@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.social li {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0;
	position: relative;
	padding: 0;
}
.social li a{
	color: #9ca5ab;
}
.fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
}
.fa-facebook:before{
	content:"\f09a";
}
.fa-twitter:before {
	content: "\f099"
}
.fa-instagram:before {
	content: "\f16d"
}
.fa-youtube:before {
	content: "\f167"
}
#block-tl-general-user-links-tl-general .content {
	float: right;
}
#block-tl-general-user-links-tl-general .content a {
	color: #515050;
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}