@charset "UTF-8";

.clr {
  clear: both;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}

header ul {
  height: 1.203125rem;
  background-color: #65a031;
  position: relative;
}

header ul .left {
  position: absolute;
  left: 0;
  top: 0;
}

header ul .right {
  position: absolute;
  right: 0;
  top: 0;
}

header ul .search {
  display: inline-block;
  width: 0.53125rem;
  height: 0.53125rem;
  margin-left: 0.3125rem;
  margin-top: 0.375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/search.png");
}

header ul .logo-wrap {
  height: 1.09375rem;
  padding-top: 0.109375rem;
}

header ul .logo {
  display: block;
  margin: 0 auto;
  width: 0.96875rem;
  height: 1.0625rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/logo.png");
}

header ul .user {
  display: inline-block;
  float: right;
  width: 0.46875rem;
  height: 0.484375rem;
  margin-right: 0.28125rem;
  margin-top: 0.375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/user.png");
}

header ul .shop {
  display: inline-block;
  width: 0.546875rem;
  height: 0.5rem;
  margin-right: 0.34375rem;
  margin-top: 0.375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/shop.png");
}

.swiper {
  width: 10rem;
  height: 3.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/swiper.png");
}

.swiper-nav ul {
  margin: 0.25rem 0.28125rem 0.40625rem;
  overflow: hidden;
}

.swiper-nav ul li {
  margin: 0 0.53125rem;
  float: left;
}

.swiper-nav ul div:first-child {
  width: 1.28125rem;
  height: 1.28125rem;
  line-height: 1.28125rem;
  text-align: center;
  border-radius: 50%;
}

.swiper-nav ul div:first-child span {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
}

.choose {
  background-color: #8796d9;
}

.choose span {
  width: 0.5625rem;
  height: 0.5625rem;
  background-image: url("../img/choose.png");
}

.file {
  background-color: #fe7064;
}

.file span {
  width: 0.5625rem;
  height: 0.65625rem;
  background-image: url("../img/file.png");
}

.phone {
  background-color: #1bbb71;
}

.phone span {
  width: 0.40625rem;
  height: 0.65625rem;
  background-image: url("../img/phone.png");
}

.person {
  background-color: #ffa319;
}

.person span {
  width: 0.65625rem;
  height: 0.625rem;
  background-image: url("../img/person.png");
}

.text {
  text-align: center;
  margin-top: 0.125rem;
  font-family: "微软雅黑";
  color: #8a8a8a;
}

[data-dpr="1"] .text {
  font-size: 10px;
}

[data-dpr="2"] .text {
  font-size: 20px;
}

[data-dpr="3"] .text {
  font-size: 30px;
}

.content {
  margin: 0 0.28125rem;
}

.content li {
  width: 9.28125rem;
  height: 3.59375rem;
  margin-bottom: 0.28125rem;
  border: 4px solid #f1f1f1;
  border-radius: 4px;
  background: url(../../dis/img/background.png) 0 0 repeat-x;
}

.content li div:first-child {
  float: left;
  width: 5.625rem;
  margin-left: 0.25rem;
}

.content li div:first-child dl dt {
  width: 0.90625rem;
  height: 0.609375rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.content li div:first-child dl dd:nth-child(2) {
  margin-top: 0.3125rem;
  font-weight: bold;
  color: #484744;
}

[data-dpr="1"] .content li div:first-child dl dd:nth-child(2) {
  font-size: 13px;
}

[data-dpr="2"] .content li div:first-child dl dd:nth-child(2) {
  font-size: 26px;
}

[data-dpr="3"] .content li div:first-child dl dd:nth-child(2) {
  font-size: 39px;
}

.content li div:first-child dl dd:nth-child(3) {
  margin-top: 0.078125rem;
  color: #4d4c49;
}

[data-dpr="1"] .content li div:first-child dl dd:nth-child(3) {
  font-size: 9px;
}

[data-dpr="2"] .content li div:first-child dl dd:nth-child(3) {
  font-size: 18px;
}

[data-dpr="3"] .content li div:first-child dl dd:nth-child(3) {
  font-size: 27px;
}

.content li div:first-child dl dd:nth-child(4) {
  margin-top: 0.296875rem;
  color: #4d4c49;
}

[data-dpr="1"] .content li div:first-child dl dd:nth-child(4) {
  font-size: 10.5px;
}

[data-dpr="2"] .content li div:first-child dl dd:nth-child(4) {
  font-size: 21px;
}

[data-dpr="3"] .content li div:first-child dl dd:nth-child(4) {
  font-size: 31.5px;
}

.content li div:first-child dl dd:nth-child(4) span {
  color: #6c8937;
}

[data-dpr="1"] .content li div:first-child dl dd:nth-child(4) span {
  font-size: 25px;
}

[data-dpr="2"] .content li div:first-child dl dd:nth-child(4) span {
  font-size: 50px;
}

[data-dpr="3"] .content li div:first-child dl dd:nth-child(4) span {
  font-size: 75px;
}

.content li div:last-child {
  float: left;
  width: 2.90625rem;
  height: 2.90625rem;
  margin-top: 0.3125rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.content .xin div:first-child dl dt {
  background-image: url("../img/xin.png");
}

.content .xin div:last-child {
  background-image: url("../img/1.png");
}

.content .jing div:first-child dl dt {
  background-image: url("../img/jing.png");
}

.content .jing div:last-child {
  background-image: url("../img/2.png");
}

.content .tehui div:first-child dl dt {
  background-image: url("../img/tehui.png");
}

.content .tehui div:last-child {
  background-image: url("../img/3.png");
}